In [ ]:
import mysql.connector

from create_db_script import create_tables
from api_data_retrieve import insert_data
from queries_db_script import *
cnx = mysql.connector.connect(user = 'alonpolski', \
                              password = 'alon2285',\
                              host='127.0.0.1',\
                              database='alonpolski',\
                              port=3305
                            )

cursor = cnx.cursor()

create_tables(cursor)
insert_data(cursor)

A query that gets a genre and two year numbers,
and returns a table that has movie's genre, movie ids, movie name, years, duration in minutes and average imdb ratings columns (in that order)
that contains only the information of titles of the given genre that started the production between the given years.
The result will be sorted by descending average rating.

In [ ]:
q1=query_1()
cursor.execute(q1, ("Horror", 1990, 1992))
#print
result = cursor.fetchall()
for x in result:
    print(x)

A query that searches by a person's name movies where the person was part of production,
and a job type he did on this poruction.

The table will have five columns,
the first contains the id of a person,
the second his/her name,
the third is a id of a movie where the person was part of production,
the fourth is the name of the movie,
and the fifth is the type of job the person did on that movie.

The result will be sorted by ascending person_id first, and will have an inner order dictated by ascending movie_id.

In [ ]:
q2=query_2()
cursor.execute(q2, "Dan")
#print
result = cursor.fetchall()
for x in result:
    print(x)

A query that searches by movie name, and returns a table where the first column contains the ids of the movies,
the second their names,
a type of job in this movie
and how many people did this job.

The result will be sorted by ascending person_id movie_id.

In [ ]:
q3=query_3()
cursor.execute(q3, "The night of the day")
#print
result = cursor.fetchall()
for x in result:
    print(x)

A query that gets for a person the average rating of average imdb movie ratings where the person was part of the production, by the person's name.

The result will be sorted by descending average of averages.

In [ ]:
q4=query_4()
cursor.execute(q4, "Brad")
#print
result = cursor.fetchall()
for x in result:
    print(x)

A query that gets all industry professions having amount of people working in them greater than the number given.

In [ ]:
q5=query_5()
cursor.execute(q5, 15)
#print
result = cursor.fetchall()
for x in result:
    print(x)

In [ ]:
cursor.close()
cnx.close()