Please bring your environment up before running this file, you can do it by installing python 3.12.0, pip, and then running pip install -r requeriments.txt from a cli while the project's root directory is your current working directory.

Import needed objects and initiate the connection.

In [1]:
import mysql.connector

from create_db_script import create_tables
from api_data_retrieve import insert_data
from queries_db_script import *
cnx = mysql.connector.connect(user = 'alonpolski', 
                              password = 'alon2285',
                              host='127.0.0.1',
                              database='alonpolski',
                              port=3305
                            )

cursor = cnx.cursor()

Create the DB.
Be warned, it took us 31 minutes to run this part, we've initiated the db beforehand for your convenience.
We've assumed this ok because Biesan wrote it's ok for it to take 20 minutes on another student's question.

In [2]:
create_tables(cursor)
insert_data(cursor)

try:
    cnx.commit()
except mysql.connector.Error as err:
    print(err.msg)

KeyboardInterrupt:

A query that gets a genre and two year numbers,
and returns a table that has movie genres, movie ids, movie names, the years in which production started, duration in minutes and average imdb ratings (If no ratings were given the rating will be 0.) columns (in that order) that contains only the information of titles of the given genre that started the production between the given years.
The result will be sorted by descending average rating.

In [ ]:
try:
    q1=query_1()
    cursor.execute(q1, ("Action", 1900, 1950))
    result = cursor.fetchall()
    for x in result:
        print(x)
except mysql.connector.Error as err:
    print(err.msg)

A full-text query by movie name, and returns the matching rows in the title table.

In [ ]:
try:
    q2=query_2()
    cursor.execute(q2, ("Night of the day",))
    result = cursor.fetchall()
    for x in result:
        print(x)
except mysql.connector.Error as err:
    print(err.msg)

A full-text query by movie name, that returns a table where the first column contains the ids of the movies,
the second, their names,
the third, a type of job in this movie's production,
and the fourth, how many people did this job.
If no data was gathered about a person doing a job on a production then there won't be a row for the film + job combination in the table.

The result will be sorted by ascending movie_id.

In [ ]:
try:
    q3=query_3()
    cursor.execute(q3, ("home",))
    result = cursor.fetchall()
    for x in result:
        print(x)
except mysql.connector.Error as err:
    print(err.msg)

A query that gets for a person the average rating of average imdb movie ratings where the person was part of the production,
by the person's name.
(Movies with no rating will be counted as having their average rating equal to zero.)

The result will be sorted by descending average of averages.

The query uses like to search by the person's name so we can use % to search for substrings.

In [ ]:
try:
    q4=query_4()
    cursor.execute(q4, ("Dan%",))
    result = cursor.fetchall()
    for x in result:
        print(x)
except mysql.connector.Error as err:
    print(err.msg)

A query that gets all industry professions having the amount of people working in them greater than the number given.

In [ ]:
try:
    q5=query_5()
    cursor.execute(q5, (5,))
    result = cursor.fetchall()
    for x in result:
        print(x)
except mysql.connector.Error as err:
    print(err.msg)

Close the connection.

In [7]:
cursor.close()
cnx.close()